h1, h6 {
  font-family: "Cormorant Garamond", serif !important;
}

span, p, h2, h3, h4, h5, .h6 {
  font-family: "Raleway", sans-serif !important;
}

.active {
  background-image: linear-gradient(to right, #08D9D6, #08D9D6 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.active:before {
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.active:hover {
  background-position: 0;
}

.active:hover::before {
  width: 100%;
}

.design-link, .design-link:hover {
  text-decoration: none;
  color: white;
}

.rotate-img {
  transition: all 1s ease-in-out 0s;
  animation: rotate 10s infinite;
}

.cta {
  margin: 25% auto 20%;
}

.ftr {
  font-size: 0.8rem;
}

.deji-div {
  margin: 15% auto 20%;
}

.contact {
  margin: 5% auto;
  width: 50%;
}

@media (max-width: 600px) {
  .contact {
    width: 90%;
  }
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}
